@import 'variables';

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  margin-top: 1em;

  @media (min-width: 768px) {
    margin-top: 10em;
    font-size: 16px;

    h4 {
      margin-left: -5em;
    }

    .bg {
      h3 {
        font-size: 4em;
      }
    }
  }

  .live {
    font-weight: 700;
  }

  .landing-box {
    a {
      color: white;
      text-decoration: none;
    } 

    img {
      display: none;
    }
    
    @media (min-width: 768px) {
      margin-top: 4em;
      left: 25vw;
      width: 50vw;
      flex-direction: row;
      max-height: 150px;

      img {
        display: block;
      }
    }
    max-height: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 1.5em;
    padding: 0.5em;
    border: 2px solid white;
    border-bottom: none;
    transform: translateY(5px);
    border-radius: 5px;
    color: white;
    width: 100vw;
    //background: rgba(255, 193, 166, 0.5);

    span {
      font-weight: 700;
      font-size: 0.7em;
    }

    h5 {
      font-weight: 700;
      margin-bottom: 0em;
    }
  }

  h4 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: -0.3em;
  }

  h2 {
    color: white;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    margin-top: 0em;
    text-align: center;
    font-size: 5em;
  }

  .bg {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/campingblur.jpg");
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -10;
    transition: background-image 1s ease-in-out;

    .alt {
      background-image: url("../assets/groundblurdesat.jpg");
    }

    .col {
      opacity: 0.4;
      position: relative;
      transform: skewX(-3deg);
      transition: opacity 0.5s linear, flex-grow 0.1s linear;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;

      h3 {
        font-family: 'Anton', sans-serif;
        transform: skewX(4deg);
        color: white;
          margin-bottom: 45vh;
        @media (min-width: 768px) {
          margin-bottom: 3.5em;
        }
      }

      a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top:0;
      }

      &:hover {
        opacity: 0.9;
        flex-grow: 1.4;
      }

      h5 {
        display: inline-block;
      }
    }

    .day-one {
      background-color: #F2C94C;

      &::before{
        background: inherit;
        top: 0;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        left: -50%;
        position: absolute;
        right: 0;
        transform-origin: 100%;
        z-index: -1;
      }
    }
    .day-two {
      background-color: #F27E4C;
    }
    .day-three {
      background-color: #F24B69;

      &::after{
        background: inherit;
        top: 0;
        content: '';
        display: block;
        height: 100%;
        width: 102%;
        left: 50%;
        position: absolute;
        right: 0;
        transform-origin: 100%;
        z-index: -1;
      }
    }
  }

}

