.day-page {
  .heading {
    font-family: 'Bevan', serif;
    text-align: right;
    font-size: 2.5em;
    color: #D8C0AE;
    padding-right: 10px;

    @media (min-width: 768px) {
      padding-top: 25px;
      font-size: 4em;
      padding-right: 50px;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

  .row {
    transition: border-color 100ms linear;
    border-bottom: 15px solid #D8C0AE;
  }

  .col-lg {
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    color: #4f4f4f;
  }

  .angled-link {
    @media (min-width: 768px) {
      transform: skew(-30deg);
    }

    .text {
      @media (min-width: 768px) {
        transform: skew(30deg);
      }
      }
  }

  #day-1-link {
    background-color: #F3DD8F;
  }


  #day-2-link {
    background-color: #F9C9BA;
  }

  #day-3-link {
    background-color: #D8C0AE;
  }


  .col-lg a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
  }

  a:hover {
    text-decoration: none;
  }
}
