@import 'variables';

.FeedCard {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  .row{
    align-items:center;
    justify-content: center;
  }

  .heading {
    h2 {
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  }

  .day-one {
    h2 {
      color: #F9C9BA;
    }
  }


  .content{
    text-align: left;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    border: .2em solid;
    border-color: #F9C9BA;
    h2{
      font-size: 3rem;
      color: #4f4f4f;
    }
  }

  .title{
    font-family: 'Abril Fatface', cursive;
  }

  .text{
    h3{
      font-size: 1.3rem;
      padding-top: 2em;
      font-family: 'Montserrat', sans-serif;
      color: #4f4f4f;
    }
  }
}
