@import 'variables';

.feed {

  min-height: 300px;
  li {
    margin-top: 2em;
  }

  margin-top: 1em;
  .last-update {
    color: #4f4f4f;
  }

  &.music {
    h2 {
      color: #C6E7E5;
    }

    .FeedCard {
      .content {
        border-color: #C6E7E5;
      }
    }
  }

  &.day-two {
    h2 {
      color: #F9C9BA;
    }
    .FeedCard {
      .content {
        border-color: #F9C9BA;
      }
    }

  }

  &.more {
    h2 {
      color: #B2B7E5;
    }
    .FeedCard {
      .content {
        border-color: #B2B7E5;
      }
    }

  }

}

.FeedCard {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  .row{
    align-items:center;
    justify-content: center;
  }

  .heading {
    h2 {
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  }

  .content {
    text-align: left;
    border: .2em solid;
    padding: 0.5em 1.8em;
    h2{
      font-size: 3rem;
      color: #4f4f4f;
    }

    @media (min-width: 768px) {
      padding-left: 3em;
      padding-right: 3em;
      padding-top: 2em;
      padding-bottom: 2em;
    }

  }

  .title{
    font-family: 'Abril Fatface', cursive;
  }

  .text{
    h3{
      font-size: 1.3rem;
      padding-top: 2em;
      font-family: 'Montserrat', sans-serif;
      color: #4f4f4f;
    }
  }
}
