body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.root {
  position: relative;
}

.footer {
	font-family: 'Lato';
  min-height: 60px;
  bottom: 0;
  width: 100%;
}
.foot {
  	display: flex;
  	align-items: center;
  	height: 100%;
}
.footer img {
	height: 40px;
	opacity: 0.7;
}
.sep {
	height: 40px;
	background: #4f4f4f;
	width: 1px;
	margin-left: 5px;
	opacity: 0.7;
}
.cred {
	color: #4f4f4f;
	width: 350px;
	padding-left: 10px;
	margin-bottom: 0;
	margin-top: 0;
	opacity: 0.7;
	font-size: 14px;

}
